/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 800

.ubuntu-sans-<uniquifier> {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"); /*Ubuntu Sans*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap"); /*Playwrite USA Modern*/

@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap"); /*Playwrite India*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap"); /*Playwrite Perú*/
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"); /*Bodoni Moda SC*/

:root {
  --logo_color: #add8e6;
  --navbar_color-1: #9400d3;
  --navbar_color-2: #add8e6;
  --hover_color: #008b8b;
  --background_color: #2a2d43;
}

/*  //////////////////////////////////////////////// GENERAL ////////////////////////////////////////////////*/

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Sans", sans-serif;
  
}

body {
  background-color: #2a2d43;
  color:white;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-size: 2rem;
  color: #add8e6;
  font-family: "Playwrite IN", cursive;
  font-weight: 900;
}

.logo:hover {
  cursor: default;
}


/*  //////////////////////////////////////////////// TRANSITION ////////////////////////////////////////////////*/

.nav_header {
  font-size: 14pt;
  font-weight: 800;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 48, 83, 0.5); /*blur background only for DesktopBar nav */
  align-items: center;
}

.links-container-header{
  display: flex;
  /* font-size: 2rem; */
  gap: 0.4rem;
  height: 100%;
  /* width: 100%; */
  flex-direction: row;
  align-items: center;
}

.nav_header a {
  color: magenta;
  font-family: "Playwrite US Modern", cursive;
  text-decoration: none;
  text-decoration-color: #008b8b;

  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;

  position: relative;
  /* width: max-content; */
  /* margin: 100px auto; */
  cursor: pointer;
}

.nav_header a::after {
  content: "";
  position: absolute;
  background-color: #008b8b;
  height: 5px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.nav_header a:hover {
  color: #ffcbd3;
  text-underline-offset: 1rem;
}

.nav_header a:hover::after {
  width: 100%;
  transform: scaleX(1);
}

nav svg {
  fill: var(--logo_color);
}

#sideBar-active {
  display: none;
}

.open-sideBar-button,
.close-sideBar-button {
  padding: 0 20px;
  display: none;
}


/*  //////////////////////////////////////////////// SECTIONS ////////////////////////////////////////////////*/

section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container{
  display: flex;
}

/*  //////////////////////////////////////////////// PROFILE ////////////////////////////////////////////////*/

#profile{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

#profile_pic-1{
  padding: 1rem;
  border: #008b8b solid;
}

.section_pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
#main_pic{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.main-pic-profile{
  border-radius: 50%;
}

.section_text{
  align-self: center;
  text-align: center;
}
.section_text p{
  font-weight: 600;
}

.section_text_p1{
  text-align: center;
}
.section_text_p2{
  font-size: 1.75rem;
  margin-bottom: 1 rem;
}

.title {
  font-size:  3rem;
  text-align: center;
}

#social-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/*  //////////////////////////////////////////////// ICONS ////////////////////////////////////////////////*/

.icon{
  cursor: pointer;
  height: 2rem;
}

/*  //////////////////////////////////////////////// BUTTONS ////////////////////////////////////////////////*/

.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
  border:#9400d3 0.1rem solid;
  color:#ADD8E6;
}

.btn-color-1, .btn-color-2:hover {
  background:#9400d3;
  color: white;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}


.btn-color-1:hover{
  background: rgb(0,0,0);
  color: white;
}

.btn-color-2{
  background: none;
}

.btn-color-2:hover{
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
  gap: 1rem;
}

.gitHub, .linkedin{
  padding: 1px;
  border-radius: 50%;
  border-color:#2a2d43;
  border-style: solid;
}

.gitHub:hover, .linkedin:hover{
  background-color: white;
}

/*  //////////////////////////////////////////////// ABOUT ////////////////////////////////////////////////*/

#about{
  position:relative;
}

#about_pic{
  height: 550px;
  width: 550px;
  margin:auto 0;
}

.about-pic{
  border-radius: 20rem;
}

.about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container{
  justify-content: center;
  flex-direction:column;
}

.about-containers, .about-details-container{
  display: flex;
}

.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container{
  padding: 1.5rem;
  flex: 1;
  background: #2a2d43;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
#about_hobbies{
  text-align: left;
}

#details-container_subpart{
  padding: 1.5rem;
  flex: 1;
  background: #2a2d43;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: #2a2d43;
  text-align: center;
}

.section-container{
  gap: 4rem;
  height: 80%;
}

/*  //////////////////////////////////////////////// EDUCATION ////////////////////////////////////////////////*/

#education{
  position:relative;
}

.about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#education_pic{
  height: 450px;
  width: 450px;
  margin:auto 0;
}

.education-pic{
  border-radius: 1rem;
}

.about-details-container{
  justify-content: center;
  flex-direction:column;
}

.about-containers, .about-details-container{
  display: flex;
}

#education_list{
  text-align: left;
}

.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container{
  padding: 1.5rem;
  flex: 1;
  background: #2a2d43;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

#text-container_education{
  color: #2a2d43;
  cursor: default;
}
.section-container{
  gap: 4rem;
  height: 80%;
}

.section_pic-container{
  height: 400px;
  width: 400px;
  margin:auto 0;
}

#manipal{
  border-top: rgba(0, 0, 0, 0.2) solid 5px;
  border-right: rgba(0, 0, 0, 0.2) solid 8px;
  border-bottom: rgba(0, 0, 0, 0.2) solid 5px;
}

/*  //////////////////////////////////////////////// SKILLS ////////////////////////////////////////////////*/

#skills{
  position: relative;
}

.title_skills{
  margin-bottom: 3rem;
}

.skills-sub-title {
  color: #09e0e0;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/*  //////////////////////////////////////////////// PROJECT ////////////////////////////////////////////////*/

 #project {
  position: relative;
}

.title_project{
  margin-bottom: 3rem;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background:#2a2d43;
}

.project-img {
  border-radius: 2rem;
  padding-bottom: 15px;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.project-btn {
  color: white;
  border-color: rgb(163, 163, 163);
}

/*  //////////////////////////////////////////////// CONTACT ////////////////////////////////////////////////*/

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

#a_contact {
  color: white;
  text-decoration: none;
  text-decoration-color:#09e0e0;
  transition: all 300ms ease;
}

#a_contact:hover {
  color:#09e0e0;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color:#09e0e0;
}


.contact-info-container p {
  font-size: larger;
  color: rgb(85, 85, 85);
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.email_icon{
  border-radius: 50%;
  border-color:#2a2d43;
  border-style: solid;
  background-color:  rgb(163, 163, 163);
}

.linkedin_contact{
  padding: 5px;
  border-radius: 50%;
  border-color:#2a2d43;
  border-style: solid;
  background-color: rgb(163, 163, 163);
}

/*  //////////////////////////////////////////////// FOOTER ////////////////////////////////////////////////*/

footer {
  height: 20vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  font-size: 10pt;
}

.nav_footer{
  font-size: 12pt;
  font-weight: 500;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 48, 83, 0);
  align-items: center;
}

.links-container-footer {
  display: flex;
  /* font-size: 2rem; */
  gap: 5rem;
  height: 60%;
  /* width: 100%; */
  flex-direction: row;
  align-items: center;
}

.nav_footer a {
  color: magenta;
  font-family: "Playwrite US Modern", cursive;
  text-decoration: none;
  text-decoration-color: #008b8b;

  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;

  position: relative;
  /* width: max-content;  */
  /* margin: 100px auto;  */
  cursor: pointer;
}

.nav_footer a:hover {
  color: #ffcbd3;
  text-underline-offset: 1rem;
}
